<footer class="mt-5">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
            <h3>Contact Info</h3>
            <p>(c)Kaelum Beglin Sweeney - College Project</p>
            <p>E-mail: Bookshop@gmail.com</p>
            <p>Phone No: 087 111 1111</p>
        </div>
        <div class="col-12 col-md-4 col-lg-6">
            <h3>Links</h3>
            <h4><a href="about#contact">Contact Us</a></h4>
            <h4><a href="membership#subs">Subscriptions</a></h4>
        </div>        
    </div>
</footer>
    