<nav>
     <ul>
          <li ><a  class='{{#if state.home}}active{{/if}}' href='/'>Home</a></li>     
          <li><a class='{{#if state.shop}}active{{/if}}' href='/shop'>Shop</a></li>
          <li ><a  class='{{#if state.membership}}active{{/if}}' href='/membership'>Membership</a></li> 
          <li ><a  class='{{#if state.about}}active{{/if}}' href='/about'>About Us</a></li> 

     </ul>
</nav>

