
<nav>
     <ul>
          <li ><a  class='{{#if state.home}}active{{/if}}' href='/'>Home</a></li>     
          <li><a class='{{#if state.contact}}active{{/if}}' href='shop'>Shop</a></li>

     </ul>
</nav>

