<main>
    <h1>About Us</h1>
    <div class="row gy-5">
        <div class="col-md-12 col-lg-6">
            <div id="aboutUsImg">
                <h2>More than just books</h2>
                <p>A hub for stories and story-lovers alike. We try to foster that wonder and joy you get from each new story </p>
                <a href="shop" class="btn btn-success">Explore</a>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12">
                    <h2>Our Story</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, optio amet nobis quia nihil, modi expedita rem quos accusamus assumenda consequuntur odio, repellendus est voluptatum sed omnis vel atque. Temporibus!</p>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <picture>
                        <source media="(min-width: 650px)" srcset="/images/shop.png">
                        <source media="(min-width: 465px)" srcset="/images/shopMobile1.png">
                        <img src="/images/shop.png" alt="bookcases in a warmly lit room">
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <h2>Our journey</h2>
            <ul class="list-group list-group-flush bg-transparent text-light">
                <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
                    <span class="badge bg-success rounded-pill">2021</span>
                    <p>Founded, Selling Online Only</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
                    <span class="badge bg-success rounded-pill">2022</span>
                    <p>Our First Brick and Mortar Shop Opens in Waterford</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
                    <span class="badge bg-success rounded-pill">2024</span>
                    <p>We Begin Shipping Internationally</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
                    <span class="badge bg-success rounded-pill">2025</span>
                    <p>Won Ireland's Favourite Bookshop</p>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-6">
            <h2>Our Shop</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3453.593073640697!2d-7.109690964046852!3d52.26047215577078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sie!4v1765889925446!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</main>
