<main>
    <h1>About Us</h1>
    
    <picture style="width: 100%;">
        <source media="(min-width: 650px)" srcset="/images/shop.png">
        <source media="(min-width: 465px)" srcset="/images/shopMobile1.png">
        <img src="/images/shop.png" alt="bookcases in a room lit warmly">
    </picture>

    <p>This is content on the contact page. I am now changing it...</p>
</main>
