<main>
    <h1>About Us</h1>
    
    <picture style="width: 100%;">
        <source media="(min-width: 650px)" srcset="/images/shop.png">
        <source media="(min-width: 465px)" srcset="/images/shopMobile.png">
        <img src="/images/shopMobile.png" alt="Description of image">
    </picture>

    <p>This is content on the contact page. I am now changing it...</p>
</main>
