<main class="container">
    <div class="row">
        <div class="col-12 col-lg-6" id="products-container"></div>
        <div class="col-12 col-lg-6">
            <h2 class="display-3">Summary</h3>
            <p class="display-5">Total cost</p>
            <p class="display-5" id="totalCost"></p>
            <button class="btn btn-dark w-100 "><p class="display-4">Secure Checkout</p></button>
        </div>
    </div>
</main>
<script src="/customJS/cart.js" defer></script>