<main class="container-fluid px-4">
    <h1 class="text-center">Bestsellers</h1>
    <img src="/images/book2.png" alt="picture of vintage book">
    
    <h2>Our Shop</h2>
    <p>Discover a curated selection of timeless books, from classic literature to rare vintage finds. 
        We focus on quality, craftsmanship, and stories that last. Whether you're building your 
        collection or searching for the perfect gift, our shop offers something special for every reader.</p>
    <a class="btn btn-primary" href="shop">Browse Products</a>
    <h2>Membership</h2>
    <p>Join us with one of our membership options and gain access to quarterly lootboxes full of 
        merchandise from your favourtie series and genres. The box includes a special edition made by us 
        of a random book you vote on every few months, a bookmark to match our special design, and of 
        course collectibles to keep as trophies to show off your nerdiness. </p>
    <a class="btn btn-primary" href="membership">See Details</a>

</main>
