html, body {
    width: auto;
}
img{
    height: 40vw;
    width: 80vw;
}

nav ul {
    list-style: none; 
    padding-left:0;
}
nav li {
    display:inline;

}
.active {
    color :white;
    background-color:green;
    padding:0.5em;

}
