html, body {
    width: auto;
}
img{
    height: 40vw;
    width: 80vw;
}

nav ul {
    list-style: none; 
    padding-left:0;
}
nav li {
    display:inline;

}
.active {
    color :white;
    background-color:red;
    padding:0.5em;

}
#aboutUsImg{
    background-image: url("/images/shop.png");
    border: 10px solid black;
    //filter: blur(8px); /* Dulls the background image */
} 