$bg: rgb(48, 78, 1);
html, body {
    width: auto;
    background-color: $bg;
    color: azure;
    margin: 0 1em 0 1em;
}
img{
    height: 100%;
    width: 100%;
}
nav{
    background-color: rgb(2, 173, 2);
    ul {
    list-style: none; 
    padding-left:0;
    }
    li {
    display:inline;
    }
}
.active {
    color :white;
    background-color: green;
    padding:0.5em; 
}
#aboutUsImg{
    border-radius: 50px;
    height: 100%;
    background-image: url("/images/shop1.png");
    text-align: center;
    margin: 0% 1em 0 1em;
    padding: 10%;
} 
div picture{
    display:flow-root;
} 
.productCard{
    background-color: white;
    border-right: 10px solid $bg;
}
.productImg{
    max-height: 400px;
    max-width: 266px
}
.icon{
    width: 80px;
    height: 80px;
}